# Required Notion Integration Token
NOTION_TOKEN=

# Required Notion Database IDs
HOTELS_DB_ID=4c1a76c312d3402d9d83a255c3ae95aa
FACILITIES_DB_ID=11f1beea0bb2802cbdfaf74c29c4ef15

# Required for Email Reporting
EMAIL_PASSWORD=
EMAIL_SENDER=ultimatefamilyhotels@gmail.com
EMAIL_RECEIVER=ultimatefamilyhotels@gmail.com
